<form action="#" th:action="@{/courses/{courseCode}(courseCode=${courses.courseCode})}" th:object="${courses}" method="post">
  <table>
    <tr>
      <td><label for="courseCode">Course Code</label></td>
      <td> <input type="text" th:field="*{courseCode}" id="courseCode" placeholder="courseCode" readonly></td>
    </tr>
    <tr>
      <td><label for="courseName">Course Name</label></td>
      <td><input type="text" th:field="*{courseName}" id="courseName" placeholder="courseName"></td>
    </tr>
    <tr>
      <td><label for="SumSKS">SKS</label></td>
      <td><input type="text" th:field="*{sumSKS}" id="sumSKS"></td>
    </tr>
    <tr>
      <td> <label for="faculty">faculty</label></td>
      <td> <input type="text" th:field="*{faculty}" id="faculty" placeholder="Faculty"></td>
    </tr>
    <tr>
      <td> <input type="submit" value="Update Courses"> </td>
    </tr>
  </table>
</form>